REACT_APP_TRACKING_ID= G-8F3K2ABC9D
EMAIL= aliasghargh540@gmail.com

WHATSAPP_NUMBER=923202376159

# EmailJS Configuration
REACT_APP_EMAILJS_SERVICE_ID=service_gg26ids
REACT_APP_EMAILJS_TEMPLATE_ID=template_d67tv1t
REACT_APP_EMAILJS_PUBLIC_KEY=7tWecWbwsAYR4rVdD
REACT_APP_EMAILJS_REPLY_TEMPLATE_ID=template_d67tv1t

